
* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;

}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}


.App {
  text-align: center;
  /* background-color: black; */
  width:100vw;
  height:100vh;
  background-image: url("spaceNeedle.jpg");
  /* background-size: fit; */
  background-size: cover;
  background-position: center center;
  /* background-repeat: no-repeat; */
}

.Header {
  width:90%;
  height:10vh;
  padding-top:1vh;
  /* background-color: blue; */
  margin: auto;
  text-align: left;
}

.white-text {
  font-weight:200;
}

.black-text {
  font-size: 5vw;
  font-weight:200;
}
